html {
    background-color: black;
}

#Header{
    color: white;
    text-align: center;
}

#right{
    text-align: right;
    color: white;
    list-style: none;
}
#middle{
    color: white;
    text-align: center;
    list-style: none;
}
#left{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

img{
    height: 250px;
    width: 250px;
}